# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore the virtual environment directory
venv/
# Ignore .env file containing environment variables
.env

# Ignore the cookies.json file
cookies.json